<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %} | The Whoot</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {% stylesheets filter='?yui_css'
                'Resources/css/*.css'
                '@WhootBundle/Resources/css/main.css'
            %}
                <link href="{{ asset_url }}" media="screen, projection" rel="stylesheet" />
            {% endstylesheets %}
            {% stylesheets '@WhootBundle/Resources/css/print.css' filter='?yui_css' %}
                <link href="{{ asset_url }}" media="print" rel="stylesheet" />
            {% endstylesheets %}
            {% stylesheets '@WhootBundle/Resources/css/ie.css' filter='?yui_css' %}
                <!--[if lt IE 8]>
                    <link href="{{ asset_url }}" media="screen, projection" type="text/css" rel="stylesheet" />
                <![endif]-->
            {% endstylesheets %}
        {% endblock stylesheets %}

        <script type="text/javascript" src="http://use.typekit.com/the3adk.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
        <!--[if IE]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

    </head>
    <body>
        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div id="splash">
                <div class="auth">
                    <div id="auth-welcome" class="panel {{ app.request.attributes.get('_route') in ['_security_login', 'fos_user_user_new'] ? 'hide' : '' }}">
                        <div>
                            Pretty Welcome Graphics... go!
                        </div>
                        <div class="button" data-target="#auth-login">Login</div>
                        <div class="button" data-target="#auth-register">Register</div>
                    </div>
                    <div id="auth-login" class="panel {{ app.request.attributes.get('_route') != '_security_login' ? 'hide' : '' }}">
                        <h3>Login</h3>
                        {% render "WhootBundle:Security:login" with { 'chromeless': true } %}
                        <div class="button" data-target="#auth-welcome">Back to Welcome</div>
                        <div class="button" data-target="#auth-register">Register</div>
                    </div>
                    <div id="auth-register" class="panel {{ app.request.attributes.get('_route') != 'fos_user_user_new' ? 'hide' : '' }}">
                        <h3>Register</h3>
                        {% render "WhootBundle:User:new" with { 'chromeless': true } %}
                        <div class="button" data-target="#auth-welcome">Back to Welcome</div>
                        <div class="button" data-target="#auth-login">Login</div>
                    </div>
                </div>
            </div>
        {% else %}
            <div id="wrapper">
                <div id="application">
                    <header id="header">
                        {% block header %}
                        
                            <a class="logo" href="{{ path('homepage') }}">
                                <div class="image"></div>
                                The Whoot
                            </a>

                            <div class="nav">
                                <a class="feed" href="{{ path('homepage') }}">Feed</a>
                                <a class="open-invite" href="{{ path('homepage') }}">Open Invites</a>
                            </div>

                            <div class="search">
                                <input type="text" />
                            </div>

                        {% endblock header %}
                    </header>
                    {% block sidebar %}
                        {% render 'WhootBundle:Core:sidebar' %}
                    {% endblock %}
                    <div id="content">
                        {% block content %}
                            <div id="page">
                                {% block page %}
                                    <div id="page_content">
                                        {% render "WhootBundle:Post:postBox" %}
                                        {% block page_content %}{% endblock %}
                                    </div>
                                {% endblock page %}
                            </div>

                        {% endblock content %}
                    </div>
                    <footer id="footer">
                        Home &#149;	Blog &#149;	About &#149; Contact Us &#149; Privacy &#149;
                    </footer>
                </div>
            </div>
        {% endif %}
        
        <div id="ajax-loading">Loading...</div>
        <div id="ajax-notice"></div>
        <div id="ajax-success"></div>
        <div id="ajax-error"></div>

        {% block javascripts %}
            {% javascripts filter='?yui_js'
                'Resources/js/jquery.js'
                'Resources/js/history/scripts/compressed/json2.js'
                'Resources/js/jquery.livequery.js'
                'Resources/js/whoot.preload.js'
                'Resources/js/jquery-ui.min.js'
                'Resources/js/swfobject.js'
                'Resources/js/jquery.countdown.pack.js'
                'Resources/js/amplify/amplify.min.js'
                'Resources/js/history/scripts/compressed/history.adapter.jquery.js'
                'Resources/js/history/scripts/compressed/history.js'
                'Resources/js/jquery.colorbox-min.js'
                'Resources/js/jquery.qtip.js'
                'Resources/js/fileuploader.js'
                'Resources/js/whoot.core.js'
                'Resources/js/whoot.request.js'
                'Resources/js/whoot.subscribers.js'
                'Resources/js/whoot.action.controller.js'
                'Resources/js/whoot.form.controller.js'
                'Resources/js/whoot.image.js'
                'Resources/js/whoot.main.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts %}
        
        <!-- HIDDEN TOOLS -->
        <div style="dislay: none">
            
        </div>

    </body>
</html>
