<div id="sidebar">
    {% block user_panel %}
        <div id="user_panel">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <a class="p" href="{{ path('fos_user_user_show', {'username': app.user.username}) }}">
                Hi, {{ app.user.firstName }}
            </a> |
            <a href="{{ path('_security_logout') }}">
                {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
            </a>
        {% else %}
            <a id="login" href="{{ path('_security_login') }}">
                {{ 'layout.login'|trans([], 'FOSUserBundle') }}
            </a> |
            <a id="register" href="{{ path('fos_user_user_new') }}">
                {{ 'layout.register'|trans([], 'FOSUserBundle') }}
            </a>
        {% endif %}
        </div>
    {% endblock user_panel %}

    {% block sidebar %}
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div class="dev-notice">Sidebar stuff.</div>
        {% endif %}
    {% endblock sidebar %}

    {% render "SocialiteBundle:User:list" %}
    
</div>