<!--
<iframe src="http://signin.techlimelight.com/openid/embed?token_url=http%3A%2F%2Ftechlimelight.local%2Fapp_dev.php%2Flogin_check"
        scrolling="no"
        frameBorder="no"
        allowtransparency="true"
        style="width:400px;height:240px">
</iframe>
-->

{% if error %}
    <div>{{ error }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="POST" class="login_form">
    <div>
        <label for="username">{{ 'security.login.username'|trans([], 'FOSUserBundle') }}</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />
    </div>

    <div>
        <label for="password">{{ 'security.login.password'|trans([], 'FOSUserBundle') }}</label>
        <input type="password" id="password" name="_password" />
    </div>
    
    <div>
        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">Remember Me</label>
    </div>

    <input type="submit" name="login" />
</form>
<p>
    <a href="{{ path('fos_user_resetting_request') }}">Forgot Password?</a>
</p>