<div id="post-feed">
    <div id="post-box" class="{{ myPost is not none ? 'hide' : '' }}">
        <div class="options">
            <h2>{{ app.user.firstName }}, first things first. Whatcha doin tonight?</h2>
            <a class="ac" href="{{ path('post_create', {'type': 'working'}) }}">Working</a>
            <a class="ac" href="{{ path('post_create', {'type': 'low_in'}) }}">Night In</a>
            <a class="ac" href="{{ path('post_create', {'type': 'low_out'}) }}">Relaxed Night Out</a>
            <a class="ac" href="{{ path('post_create', {'type': 'big_out'}) }}">Big Night Out</a>
        </div>

        <input type="text" name="note" value="{{ myPost ? myPost.post.note : '' }}" />
    </div>
    <div class="date-separator">
        {% if posts|length > 0 %}
            {{ posts[0][0].createdAt|date('y-m-d') }}
        {% endif %}
    </div>

    <ul>
    {% for post in posts %}
        <li class="{{ loop.last ? 'last' : '' }}">
            {% render 'SocialiteBundle:Post:teaser' with {'postId': post[0].id} %}
        </li>
    {% else %}
        <li class="none">
            No posts for this night... yet.
        </li>
    {% endfor %}
    </ul>

</div>