<div id="feed-filters">
    {% if showPostTypes %}
        <div class="post-types">
            <div class="label">Showing</div>
            <ul class="mc-menu">
                <li class="first {{ feedFilters and 'working' in feedFilters.postTypes ? 'on' : '' }}"><a href="{{ path('feed_filter_toggle', {'postType': 'working'}) }}" class="ac">Working</a></li>
                <li class="{{ feedFilters and 'low_in' in feedFilters.postTypes ? 'on' : '' }}"><a href="{{ path('feed_filter_toggle', {'postType': 'low_in'}) }}" class="ac">Night In</a></li>
                <li class="{{ feedFilters and 'low_out' in feedFilters.postTypes ? 'on' : '' }}"><a href="{{ path('feed_filter_toggle', {'postType': 'low_out'}) }}" class="ac">Relaxed Out</a></li>
                <li class="last {{ feedFilters and 'big_out' in feedFilters.postTypes ? 'on' : '' }}"><a href="{{ path('feed_filter_toggle', {'postType': 'big_out'}) }}" class="ac">Rager Out</a></li>
            </ul>
        </div>
    {% endif %}

    {% if showFeedSort %}
        <div class="feed-sort">
            <div class="arrow-small"></div>
            <div class="label">Sort</div>
            <ul class="sc-menu">
                <li class="{{ feedFilters and feedFilters.feedSort == 'created' ? 'on' : 'hide' }}"><a href="{{ path('feed_filter_change', {'key': 'feedSort', 'value': 'created'}) }}" class="ac">Newest</a></li>
                <li class="{{ feedFilters and feedFilters.feedSort == 'popularity' ? 'on' : 'hide' }}"><a href="{{ path('feed_filter_change', {'key': 'feedSort', 'value': 'popularity'}) }}" class="ac">Popularity</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    {% endif %}
</div>