<header id="header">
    {% block header %}

        <a class="logo" href="{{ path('homepage') }}">
            <img src="{{ asset('bundles/whoot/images/logo-top.png') }}" alt="The Whoot" />
        </a>


        <div class="nav">

            <a href="{{ path('homepage') }}" class="{{ page == 'homepage' ? 'on' : '' }}">My Feed</a>
            <a href="{{ path('deal_feed') }}" class="{{ page == 'deal_feed' ? 'on' : '' }}">Deal Feed</a>
        </div>

        <div class="search">
            <input type="text" class="iclear w" data-url="{{ path('user_ajax_search') }}" autocomplete="off" value="Find someone..." />
        </div>

    {% endblock header %}
</header>