<div id="post-box" class="hide">
    <div class="options">
        <h2>{{ app.user.firstName }}, first things first. Whatcha doin tonight?</h2>
        <a class="ac" href="{{ path('post_create', {'type': 'working'}) }}">Working</a>
        <a class="ac" href="{{ path('post_create', {'type': 'low_in'}) }}">Night In</a>
        <a class="ac" href="{{ path('post_create', {'type': 'low_out'}) }}">Relaxed Night Out</a>
        <a class="ac" href="{{ path('post_create', {'type': 'big_out'}) }}">Big Night Out</a>
    </div>
</div>

{% render "WhootBundle:Core:feedFilters" %}

{% render 'WhootBundle:Post:feed' %}