<div id="sidebar">
    <div id="user_panel">
        <h2>
            <a class="name" href="{{ path('fos_user_user_show', {'username': app.user.username}) }}">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </a>
            <div class="clear"></div>
        </h2>
        <div class="profile_image">
            <img src="{{ gravatar(app.user.email, '50', 'r', 'mm') }}" />
            {% if pingCount|length > 0 %}
                <div id="my-pings" title="{{ pingCount|length }} {{ pingCount|length > 1 ? 'pings' : 'ping' }} today. {{ pingCount|length }} {{ pingCount|length > 1 ? 'people want' : 'person wants' }} to know what you're doing tonight!">
                    {{ pingCount|length }}
                </div>
            {% endif %}
        </div>
        <div class="stats">
            <div class="item">
                <div class="label">Following</div>
                <div class="value" id="my-following">{{ followingStats.following[0].cnt }}</div>
            </div>
            <div class="item">
                <div class="label">Followers</div>
                <div class="value">{{ followingStats.followers[0].cnt }}</div>
            </div>
        </div>
        <a class="small-link" href="{{ path('homepage') }}">Settings</a>
        <a class="small-link" href="{{ path('_security_logout') }}">
            {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
        </a>
    </div>

    {% render 'WhootBundle:Post:myPost' %}
    
    {% render "WhootBundle:User:list" %}
    
</div>