<div id="sidebar">
    <div id="user_panel">
        <h2>
            <a class="name" href="{{ path('user_profile_show', {'username': app.user.username}) }}">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </a>
            <div class="clear"></div>
        </h2>
        <div class="profile_image">
            <a id="profile-image-upload" href="#" data-w="65" data-h="65" data-url="{{ path('user_upload_picture') }}" data-target="#my-profile-image">change</a>
            {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': app.user, 'dimensions': 65, 'height': 80, 'width': 65, 'id': 'my-profile-image'} %}
            {% if pingCount|length > 0 %}
                <div id="my-pings" title="{{ pingCount|length }} {{ pingCount|length > 1 ? 'pings' : 'ping' }} today. {{ pingCount|length }} {{ pingCount|length > 1 ? 'people want' : 'person wants' }} to know what you're doing tonight!">
                    {{ pingCount|length }}
                </div>
            {% endif %}
        </div>
        <div class="stats">
            <div class="item">
                <div class="label"><a href="{{ path('user_following', {'username': app.user.username}) }}">Following</a></div>
                <div class="value" id="my-following">{{ followingStats.following[0].cnt }}</div>
            </div>
            <div class="item">
                <div class="label"><a href="{{ path('user_followers', {'username': app.user.username}) }}">Followers</a></div>
                <div class="value">{{ followingStats.followers[0].cnt }}</div>
            </div>
        </div>
        <a class="small-link" href="{{ path('user_settings', {'username': app.user.username}) }}">Settings</a>
        <a class="small-link" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
        </a>
        <div class="clear"></div>
    </div>

    {% render 'WhootBundle:Post:myPost' %}
    
    {% render "WhootUserBundle:Profile:list" %}
    
</div>