<div id="sidebar">
    <div id="user_panel">
        <h2>
            <a class="name" href="{{ path('fos_user_user_show', {'username': app.user.username}) }}">
                {{ app.user.firstName }} {{ app.user.lastName }}
            </a>
            <div class="clear"></div>
        </h2>
        <div class="profile_image"></div>
        <div class="stats">
            <div class="item">
                <div class="label">Following</div>
                <div class="value">49</div>
            </div>
            <div class="item">
                <div class="label">Followers</div>
                <div class="value">28</div>
            </div>
        </div>
        <a class="small-link" href="{{ path('homepage') }}">Settings</a>
        <a class="small-link" href="{{ path('_security_logout') }}">
            {{ 'layout.logout'|trans([], 'FOSUserBundle') }}
        </a>
    </div>

    {% if pingCount|length > 0 %}
        Hey, {{ pingCount|length }} people want to know what you're doing tonight!
    {% endif %}

    {% render 'WhootBundle:Post:myPost' %}
    
    {% render "WhootBundle:User:list" %}
    
</div>