<div id="splash">
    <div class="fb">
        {{ facebook_login_button({'autologoutlink': false}) }}
    </div>
    <img src="{{ asset('bundles/whoot/images/splash-logo-small.png') }}" class="logo" alt="The Whoot" />
    <img src="{{ asset('bundles/whoot/images/splash-button1.png') }}" class="info one" alt="Post what you are up to tonight" />
    <img src="{{ asset('bundles/whoot/images/splash-button2.png') }}" class="info two" alt="Connect with friends for the night" />
    <img src="{{ asset('bundles/whoot/images/splash-button3.png') }}" class="info three" alt="Discover exclusive night time deals" />

    <div id="auth-login" class="hide">
        {% render "WhootUserBundle:Security:login" with { 'chromeless': true } %}
    </div>
    <div id="auth-register" class="hide">
        {% render "WhootUserBundle:Registration:register" with { 'chromeless': true } %}
    </div>
</div>