<div class="teaser llist l_{{ list.id }}" data-d='{"url": "{{ path('list_user_add', {'listId': list.id}) }}"}'>
    <a class="p" href="{{ path('list_show', {'id': list.id, 'slug': list.slug}) }}">{{ list.name }}</a>
    <a class="delete cr" title="Delete this list." href="{{ path('list_delete', {'id': list.id}) }}">X</a>
</div>