{% if myPost is not none %}
    <div id="my-post" data-target="#post-{{ myPost.post.id }}">
        <h3>
            {{ myPost.post.type|printPostTypeShort() }}
        </h3>
        {% if myPost.post.createdBy.id == app.user.id %}
            <div id="cancel-post">Cancel</div>
            <div id="cancel-confirm" class="hide">
                <h3>Are you sure you want to cancel your open invite?</h3>
            </div>
        {% else %}
            <div id="change-post">Change</div>
        {% endif %}

        <div class="clear"></div>

        <div>
            {% if myPost.post.users|conditionalLength('status', 'Active') > 1 %}
                You + {{ myPost.post.users|conditionalLength('status', 'Active')-1 }} {{ myPost.post.users|conditionalLength('status', 'Active')-1 > 1 ? 'others' : 'other' }}
            {% else %}
                Just You
            {% endif %}
        </div>

        {% if myPost.post.note %}
            <div class="note">" {{ myPost.post.note }} "</div>
        {% endif %}
    </div>
{% else %}
    <div id="my-post">
        <span id="declare-post"></span>
        You have not declared your post for the night.
    </div>
{% endif %}