<form action="{{ path('post_create') }}" {{ form_enctype(form) }} method="POST" class="post_create">
    {{ form_errors(form) }}

    {{ form_widget(form.type, { 'attr': {'autocomplete': 'off'} })}}
    {{ form_widget(form.tags) }}

    <div class="label">Tags</div>
    <input type="text" id="tags" autocomplete="off" name="tags" class="tags iclear b" value="Type 1-3 tags at a time and press enter" />
    <div class="errors"></div>
    <div class="tags-help">
        How do you feel about tonight? Have a bar in mind? Feel like dancing?
        <br />
        You've got 5 tags total, make'em count
    </div>

    <div class="tagsC">
        <div class="tag" data-target="#tag1"><span>x</span></div>
        <div class="tag" data-target="#tag2"><span>x</span></div>
        <div class="tag" data-target="#tag3"><span>x</span></div>
        <div class="tag" data-target="#tag4"><span>x</span></div>
        <div class="tag" data-target="#tag5"><span>x</span></div>
    </div>

    <input id="tag1" type="hidden" autocomplete="off" class="tag" name="whoot_post_form[tags][0][name]" />
    <input id="tag2" type="hidden" autocomplete="off" class="tag" name="whoot_post_form[tags][1][name]" />
    <input id="tag3" type="hidden" autocomplete="off" class="tag" name="whoot_post_form[tags][2][name]" />
    <input id="tag4" type="hidden" autocomplete="off" class="tag" name="whoot_post_form[tags][3][name]" />
    <input id="tag5" type="hidden" autocomplete="off" class="tag" name="whoot_post_form[tags][4][name]" />

    <div class="label">Location</div>
    {#{{ form_widget(form.location) }}#}
    <div class="clear"></div>

    {{ form_rest(form) }}

    <div class="submit">Submit Post</div>
</form>