<div class="post-details normal">
    <div class="left">
        {% set activeUsers = post.users|rebuildArray('status', 'Active') %}
        <ul class="users">
            {% for user in activeUsers %}
                <li>
                    <a class="profile-image" href="{{ path('fos_user_user_show', {'username': user.user.username}) }}" title="{{ user.user.firstName }} {{ user.user.lastName }}">
                        <img src="{{ user.user.profileImage is defined ? '/slir/w30-h30-c1:1'~user.user.profileImage : gravatar(user.user.email, '30', 'r', 'mm') }}" alt="" />
                    </a>
                    <a class="name" href="{{ path('fos_user_user_show', {'username': post.createdBy.username}) }}">{{ user.user.firstName }} {{ user.user.lastName }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right">
        <div class="note">{{ post.note ? '" ' : '' }}{{ post.note|stripSlashes|truncate(75) }}{{ post.note ? ' "' : '' }}</div>

        <div class="activity-list">
            {% render "WhootBundle:Comment:new" with {'postId': post.id} %}
            {% for event in activity %}
                <div class="activity-post {{ event.class }}">
                    <div class="time">{{ event.time|timeLapse(1) }}</div>

                    <div class="message">
                        <a class="user" href="{{ path('fos_user_user_show', {'username': event.user.username}) }}">{{ event.user.firstName }} {{ event.user.lastName }}</a>
                        {{ event.message }}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="clear"></div>
</div>