<a name="post-{{ post.id }}"></a>
<div class="teaser post {{ post.type }}" id="post-{{ post.id }}" data-details="{{ path('post_details', {'postId': post.id, 'type': 'normal'}) }}">
    <a class="profile-image" href="{{ path('user_profile_show', {'username': post.createdBy.username}) }}" title="{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}">
        {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': post.createdBy, 'dimensions': 45} %}
    </a>

    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': post.createdBy, 'nameLimit': 10} %}

    <div class="what">
        {{ post.type|printPostTypeShort }}
    </div>

    <div class="note">
        {{ post.note }}
    </div>

    <div class="clear"></div>
</div>