<div class="post-details invite">
    <div class="left">
        {% if post.lat and post.lon %}
            <div id="map-{{ post.id }}" class="post-map" data-name="{{ post.venue }}" data-lat="{{ post.lat }}" data-lon="{{ post.lon }}"></div>
        {% endif %}

        {% set activeUsers = post.users|rebuildArray('status', 'Active') %}
        <h4 class="num-people">{{ activeUsers|length }} {{ activeUsers|length > 1 ? 'People' : 'Person' }} Going</h4>
        <ul class="users">
            {% for user in activeUsers %}
                <li>
                    <a class="profile-image" href="{{ path('user_profile_show', {'username': user.user.username}) }}" title="{{ user.user.firstName }} {{ user.user.lastName }}">
                        {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': user.user, 'dimensions': 30} %}
                    </a>
                    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': user.user} %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="right">
        <h4>{{ post.venue }}</h4>
        <h4>{{ post.time }}</h4>
        <h5>{{ post.address }}</h5>

        <div class="note">{{ post.note ? '" ' : '' }}{{ post.note|stripSlashes|truncate(75) }}{{ post.note ? ' "' : '' }}</div>

        {% include "WhootBundle:Post:activity.html.twig" with {'post': post, 'activity': activity} %}
    </div>
    <div class="clear"></div>
</div>