<a name="post-{{ post.id }}"></a>
<div class="teaser post invite {{ post.type }}" id="post-{{ post.id }}" data-details="{{ path('open_invite_details', {'inviteId': post.id}) }}">
    <canvas title="{{ post.createdAt|timeLapse }}" class="timer" width="20" height="20" data-time="{{ post.createdAt|date('U') }}" data-type="{{ post.type }}">
        <div class="timer {{ post.type }}"></div>
    </canvas>

    <a class="profile-image" href="{{ path('fos_user_user_show', {'username': post.createdBy.username}) }}" title="{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}">
        <img src="{{ post.createdBy.profileImage is defined ? '/slir/w30-h30-c1:1'~post.createdBy.profileImage : gravatar(post.createdBy.email, '30', 'r', 'mm') }}" alt="" />
    </a>

    <div class="post">
        <a class="user" href="{{ path('fos_user_user_show', {'username': post.createdBy.username}) }}">{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}</a>
        invites you to {{ post.type|printPostTypeNoun|raw }} at {{ post.venue }}
    </div>

    {% set numUsers = post.users|conditionalLength('status', 'Active') %}
    <div class="num-users">{{ numUsers }} Jive{{ numUsers > 1 ? 's' : '' }}</div>

    {% if (post.createdAt|date('y-m-d') == "now-5 hours"|date('y-m-d') or post.createdAt|date('y-m-d') == "now"|date('y-m-d')) %}
        {% render "WhootBundle:Post:jiveTag" with {'postId': post.id} %}
    {% endif %}

    <div class="clear"></div>
</div>