{% if not userBlocked(app.user, post.createdBy) %}

<a name="post-{{ post.id }}"></a>
<div class="teaser post {{ post.type }}" id="post-{{ post.id }}" data-details="{{ path('post_details', {'postId': post.id, 'type': 'normal'}) }}">
    <a class="profile-image" href="{{ path('user_profile_show', {'username': post.createdBy.username}) }}" title="{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}">
        {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': post.createdBy.currentProfileImage, 'w': 50, 'h': 50} %}
    </a>

    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': post.createdBy, 'nameLimit': 15} %}

    <div class="what">
        {{ post.type|printPostTypeShort }}
    </div>

    <div class="tags">
        {% if post.invite is defined and post.invite %}
            <a href="{{ path('invite_show', {'inviteId': post.invite.invite}) }}">
                @{{ post.invite.name }}
            </a>
        {% else %}
            {% for tag in post.tags %}
                {% include "WhootBundle:Tag:teaser.html.twig" with {'tag': tag} %}
            {% else %}
                Hmm... no tags. How did you do this?!
            {% endfor %}
        {% endif %}
    </div>

    {% if post.invite is not defined or not post.invite %}
        {% include "WhootVoteBundle:Vote:show.html.twig" with {'object': post, 'objectType': 'Post'} %}
    {% endif %}
    
    <div class="clear"></div>
</div>

{% endif %}