{% set voted = object.findVote(app.user.id) %}

<div class="scoreC {{ theme is defined ? theme : 'large' }}">
    <div class="s-{{ object.id }}">{{ object.score }}</div>
    <a title="{{ voted ? 'Undo ' : ''}}+1" class="ac v u thumbs-up{{ theme is defined ? '-'~theme : '' }}-icon {{ voted and voted.a == 1 ? 'on' : '' }}" href="{{ path('vote_create', {'oid': object.id, 'amount': (voted and voted.a == 1 ? 0 : 1), 'collection': objectType}) }}">+</a>
</div>