<div class="manage-trending">

    <h4>Uncategorized tags</h4>
    <ul>
        {% for tag in uncategorizedtags %}
            {% if tag[0].content %}
                <li class="w-{{ tag[0].id }}">
                    <div class="tag"><div>{{ tag[0].content }}</div> ({{ tag[0].score }} popularity)</div>
                    <a class="ac" href="{{ path('admin_make_trendable', {'tagId': tag[0].id}) }}">Make Trendable</a>
                    <a class="ac" href="{{ path('admin_make_stoptag', {'tagId': tag[0].id}) }}">Make Stop tag</a>
                </li>
            {% endif %}
        {% else %}
            <li class="none">No uncategorized tags. Yahoo.</li>
        {% endfor %}
    </ul>

    <h4>Trendable tags</h4>
    <ul id="admin-trendable">
        {% for tag in trendabletags %}
            {% if tag[0].content %}
                <li class="w-{{ tag[0].id }}">
                    <div class="tag"><div>{{ tag[0].content }}</div> ({{ tag[0].score }} popularity)</div>
                    <a class="ac" href="{{ path('admin_make_stoptag', {'tagId': tag[0].id}) }}">Make Stop tag</a>
                </li>
            {% endif %}
        {% else %}
            <li class="none">No trendable tags...</li>
        {% endfor %}
    </ul>

    <h4>Stop tags</h4>
    <ul id="admin-stoptags">
        {% for tag in stoptags %}
            {% if tag[0].content %}
                <li class="w-{{ tag[0].id }}">
                    <div class="tag"><div>{{ tag[0].content }}</div> ({{ tag[0].score }} popularity)</div>
                    <a class="ac" href="{{ path('admin_make_trendable', {'tagId': tag[0].id}) }}">Make Trendable</a>
                </li>
            {% endif %}
        {% else %}
            <li class="none">No stop tags...</li>
        {% endfor %}
    </ul>
</div>