<form action="{{ path('invite_create') }}" {{ form_enctype(form) }} method="POST" class="invite_create noajax">
    {{ form_errors(form) }}

    {{ form_widget(form.type, { 'attr': {'autocomplete': 'off'} })}}

    <div class="label">Venue</div>
    {{ form_widget(form.venue, { 'attr': {'autocomplete': 'off'} }) }}
    <div class="clear"></div>

    <div class="label">Address</div>
    {{ form_widget(form.address, { 'attr': {'autocomplete': 'off'} }) }}
    {{ form_widget(form.coordinates, { 'attr': {'autocomplete': 'off'} }) }}
    <div class="clear"></div>

    <div class="label">Time</div>
    {{ form_widget(form.time, { 'attr': {'autocomplete': 'off'} }) }}
    <div class="clear"></div>

    <div class="label">Picture</div>
    {{ form_widget(form.image) }}
    <div class="clear"></div>

    <div class="label">Description</div>
    {{ form_widget(form.description, { 'attr': {'autocomplete': 'off'} }) }}
    <div class="clear"></div>

    <div class="label">Location</div>
    {% include "WhootBundle:Location:selectBox.html.twig" with {'locations': locations, 'default': app.user.currentLocation ? app.user.currentLocation.id : none, 'name': 'whoot_invite_form[currentLocation]'} %}
    <div class="clear"></div>

    <input type="submit" class="submit" value="Create Invite" />
</form>