{% extends 'WhootBundle::base.html.twig' %}

{% block title %}
    Open Invite: {{ invite.venue }}
{% endblock %}

{% block page_content %}
    <div class="invite_show {{ invite.type }}">
        <h1><span>{{ invite.type|printPostTypeNoun|capitalize }}</span> at {{ invite.venue }}</h1>
        <div class="left">
            {% if invite.path %}
                <img class="inviteImage" src="/slir/w180-h180-c1:1/uploads/{{ invite.subdirectory }}/{{ invite.path }}" />
            {% else %}
                <img class="inviteImage" src="/slir/w180-h180-c1:1/bundles/whoot/images/inviteDefault.png" />
            {% endif %}

            <h3>{{ invite.posts|length }} attending</h3>
            <ul class="attending">
                {% for post in invite.posts %}
                    <li>
                        <a class="profile-image" href="{{ path('user_profile_show', {'username': post.createdBy.username}) }}" title="{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}">
                            {% include "WhootUserBundle:Profile:profileImage.html.twig" with {'user': post.createdBy, 'dimensions': 30} %}
                        </a>
                        {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': post.createdBy} %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="right">
            <div class="info">
                {% render "WhootBundle:Invite:attendingButton" with {'inviteId': invite.id} %}
                <div class="item">
                    created by
                    {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': invite.createdBy, 'nameLimit': 15} %}
                </div>
                <div class="item">
                    {{ invite.time }} @ {{ invite.venue }}
                </div>
                <div class="item">
                    {{ invite.address }}
                </div>
                <div class="description">
                    {{ invite.description }}
                </div>
                {% if invite.lat and invite.lon %}
                    <div id="map-{{ invite.id }}" class="invite-map" data-name="{{ invite.venue }}" data-lat="{{ invite.lat }}" data-lon="{{ invite.lon }}"></div>
                {% endif %}
            </div>
            {% include "WhootBundle:Comment:feed.html.twig" with {'rootId': invite.id, 'type': 'invite', 'comments': comments} %}
        </div>
    </div>
{% endblock %}