<a name="invite-{{ invite.id }}"></a>
<div class="teaser invite {{ invite.type }}" id="invite-{{ invite.id }}">
    {% if invite.image %}
        {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': invite.image, 'w': 120, 'h': 120, 'class': 'inviteImage'} %}
    {% else %}
        <img class="inviteImage" src="/slir/w120-h120-c1:1/bundles/whoot/images/inviteDefault.png" />
    {% endif %}

    <h2 class="head">
        <a href="{{ path('invite_show', {'inviteId': invite.id}) }}">
            <span class="type">{{ invite.type|printPostTypeNoun|capitalize }}</span> at {{ invite.venue }}
        </a>
    </h2>

    <div class="item">
        <div class="desc">who</div>
        {% include "WhootUserBundle:Profile:userLink.html.twig" with {'user': invite.createdBy, 'nameLimit': 15} %}
    </div>

    <div class="item">
        <div class="desc">where</div>
        {{ invite.venue }}: {{ invite.address }}
    </div>

    <div class="item">
        <div class="desc">when</div>
        {{ invite.time }}
    </div>

    <div class="attending">
        <div class="container">
            {% for user in invite.attendees %}
                <a href="{{ path('user_profile_show', {'username': user.username}) }}" title="{{ user.fullName }}">
                    {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': user.currentProfileImage, 'w': 30, 'h': 30} %}
                </a>
            {% endfor %}
        </div>
        <h5>{{ invite.attendingCount }} attending</h5>
    </div>
</div>