<div class="user-hover-tab">
    {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': user.currentProfileImage, 'w': 50, 'h': 50, 'class': 'profileImage'} %}
    {% include "WhootBundle:Follow:tag.html.twig" with {'toUser': user} %}

    <div class="name">{{ user.fullName }}</div>

    <div class="what {{ user.currentPost and user.currentPost.isValid ? user.currentPost.type : '' }}">
        {% if user.currentPost and user.currentPost.isValid %}
            <div>{{ user.currentPost.type|printPostTypeShort }}</div>
            <div>{{ user.currentPost.location }}</div>
        {% else %}
            Undecided - {% include "WhootBundle:Ping:tag.html.twig" with {'toUser': user} %}
        {% endif%}
    </div>

    <div class="stats">
        <div class="following">Following: {{ user.followingCount }}</div>
        <div class="followers">Followers: {{ user.followerCount }}</div>
    </div>
</div>