<div id="user-sidebar">
    <h1>{{ user.fullName }}</h1>

    <div class="location">
        {{ user.currentLocation is defined ? user.currentLocation.name : 'Outer Space' }}
    </div>

    {% include "WhootBundle:Follow:tag.html.twig" with {'toUser': user} %}
    {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': user.currentProfileImage, 'w': 130, 'h': 165, 'class': 'profileImage'} %}
    <ul class="nav">
        <li><a class="{{ navSelected == 'following' ? 'on' : '' }}" href="{{ path('user_following', {'username': user.username}) }}">Following</a></li>
        <li><a class="{{ navSelected == 'followers' ? 'on' : '' }}" href="{{ path('user_followers', {'username': user.username}) }}">Followers</a></li>
        {% if app.user.id == user.id %}
            <li><a class="{{ navSelected == 'settings' ? 'on' : '' }}" href="{{ path('user_settings', {'username': user.username}) }}">Settings</a></li>
        {% endif %}
    </ul>
</div>