<div id="user-sidebar">
    <h1>{{ user.fullName }}</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <div class="username">username: {{ user.username }}</div>
        {% if user.id != app.user.id %}
            <a class="user-switch" href="{{ path('homepage', {'_switch_user': user.username}) }}">Impersonate User</a>
        {% endif %}
    {% endif %}


    <div class="location">
        {{ user.currentLocation ? user.currentLocation.name : 'Outer Space' }}
    </div>

    {% include "WhootBundle:Follow:tag.html.twig" with {'toUser': user} %}
    {% include "MarbemacImageBundle:Image:show.html.twig" with {'groupId': user.currentProfileImage, 'w': 130, 'h': 165, 'class': 'profileImage'} %}
    <ul class="nav">
        <li><a class="{{ navSelected == 'following' ? 'on' : '' }}" href="{{ path('user_following', {'username': user.username}) }}">Following</a></li>
        <li><a class="{{ navSelected == 'followers' ? 'on' : '' }}" href="{{ path('user_followers', {'username': user.username}) }}">Followers</a></li>
        {% if app.user.id == user.id %}
            <li><a class="{{ navSelected == 'settings' ? 'on' : '' }}" href="{{ path('user_settings', {'username': user.username}) }}">Settings</a></li>
        {% endif %}
    </ul>

    <ul class="stats">
        <li>Joined {{ user.createdAt|timeLapse(1) }}</li>
        <li>Last login {{ user.lastLogin|timeLapse(1) }}</li>
        <li>Following: {{ user.followingCount }}</li>
        <li>Followers: {{ user.followerCount }}</li>
        <li>Lifetime Pings: {{ user.pingCount }}</li>
    </ul>
</div>