<a class="user-link user-{{ user.id }}" href="{{ path('user_profile_show', {'username': user.username}) }}" data-d='{"id":"{{ user.id }}", "tab":"{{ path('user_hover_tab', {'userId':user.id}) }}"}'>
    {% if nameLimit is defined %}
        {{ (user.firstName~' '~user.lastName)|truncate(nameLimit, '..') }}
    {% else %}
        {{ user.firstName~' '~user.lastName }}
    {% endif %}
</a>